<footer>

<div class="f-info">
    <div class="f-social">
        <i class="fa-brands fa-facebook"></i>
        
 
 
<i class="fa-brands fa-linkedin"></i>
        <i class="fa-brands fa-twitter"></i>


    </div>
    <div> &copy;TRAVEL-Buddy Pvt Ltd</div>
  
    <div class="f-links">
        <a href="/privacy">privacy</a>
        <a href="/terms and conditions">t&c</a>
    </div>




</div>



</footer>