body{
      font-family: "Plus Jakarta Sans", sans-serif !important;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
}
.container{

    flex:1;
}

/* .add-btn{
display: flex;
justify-content: flex-end;
   background-color: #fe424d !important;
} */

.navbar{
    height: 5 rem;
    background-color: white;
}
.fa-solid{
   
    color: #fe424d;
    font-size: 2 rem;
}
.nav-link{
    color: #222 !important ;
}
.f-links a {
    text-decoration: none;
    color:#222;
      margin: 0.5rem;
      font-size: 0.8rem;
}
.f-links a:hover{
    text-decoration: underline;
}
.f-links{

    width: 100%;
      
}
.f-social{
    width: 100%;
 

}

.f-social i{
    margin: 0.5rem;
}

.f-info{

    text-align: center;
    display: flex;
    background-color: #ebebeb;
    height: 8 rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

.card{

    border: none !important;
    margin-bottom: 2rem;
   cursor: pointer !important;
}

.image-top{
    width: 100% !important;
    border-radius: 1rem !important;
    object-fit: cover !important;
    height: 20rem !important;
    
}
.card-body{
    padding: 0 !important;

}
.card-text p{
    font-weight: 400;
}
.card-text a{
    text-decoration: none;
    color: black;
}
.card-text a:hover{
    text-decoration: underline;
    color: blue;
 
}
.row{
    margin-top: 2rem !important;
}
.card-img-overlay{
 pointer-events: none; 
/*  
 allows clicks to pass through the overlay */

  opacity: 0;
}
.card-img-overlay:hover{
    opacity: .2;
    background-color: white;
}
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}
.img-show{
height: 50vh;
border: #222 1px;


}
.buttons{
    display: flex;
  
}

 .edit,.delete{
  background: #4a90e2;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

 .edit,.delete :active {
  transform: scale(0.95);
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

.delete{
    background-color:#fe424d !important; 
}